@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import "header", "footer";

body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: "Karla", sans-serif;
    padding: 0;
    box-sizing: border-box;
     

}

.main__info{
    color: aliceblue;
    text-align: center;
    padding: 70px;
    
}

.formulario {
    margin-top: 100px;
    padding: 25px;
    color: aliceblue;
}

main {
    margin: 0;
    padding: 25px;

    img {
        width: 100%;
        height: 80%;
    }
}

